<div class="container">      
    <div class="row">
      
    {{#each poliza }}
    {{#each facturas}}
    <br>
    <a href="/cuenta/nuevo/{{this._id}}" class="btn btn-primary">Nuevo</a>
    <br>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Numero de cuenta</th>
            <th>subcuenta</th>
            <th>nombre</th>
            <th>tipo</th>
            <th>parcial</th>
            <th>debe</th>
            <th>haber</th>
        </tr>
        </thead>
    {{#each cuentas}}

          <tr>
            <td>{{nocuenta}}</td> 
            <td>{{subcuenta}}</td>
            <td>{{nombre}}</td>
            <td>{{tipo}}</td>
            <td>{{parcial}}</td>
            <td>{{debe}}</td>
            <td>{{haber}}</td>
            {{!-- <td><a href="/cuenta/modificar/{{idfactura}}">Modificar</a></td> 
            <td><a href="/cuenta/eliminar/{{idfactura}}">Eliminar</a></td>  --}}
          </tr>         
          {{/each}}
                      </table>
          {{/each}}
      {{/each}} 

    </div>
</div>