<div class="container">      
    <div class="row">
    <br>
    <a href="/factura/nuevo/{{poliza._id}}" class="btn btn-primary">Nuevo</a>
    <br>
      <table class="table table-striped">
        <thead>
        <tr>
            <th>id de factura</th>
            <th>Fecha</th>
            <th>Concepto</th>
            <th colspan="3">Operación</th>
        </tr>
        </thead>
        {{#each poliza.facturas }}
          <tr>
            <td>{{idfactura}}</td> 
            <td>{{fecha}}</td>
            <td>{{concepto}}</td>
            <td><a href="/cuenta/{{poliza._id}}/">Ver cuentas</a></td> 
            <td><a href="/factura/modificar/{{idfactura}}">Modificar</a></td> 
            <td><a href="/factura/eliminar/{{idfactura}}">Eliminar</a></td> 
          </tr>          
      {{/each}}
      </table>
    </div>
</div>